{% extends 'base.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}

<!-- 
    {{ form }} //this will enable to access the form object, this is done by Jinja templates
               //The output on html screen would look like:
                <market.forms.RegisterForm object at 0x7f07e093cc40>
-->
<body class="text-center">
    <div class="container"> <!-- This container will put all object within the div in a container -->
        <br>
        <br>
        
        <h3>
            Sign In to your account
        </h3>

        <br>
        
        <div class="text-left"> <!-- This container will put all text within the div aligned to left -->
            <form method="POST" class="form-signin" style="color:white">
                {{ form.hidden_tag() }}
                <!-- This is to protect from CSRF(Cross-site request forgery)-->
                
                {{ form.user_name.label() }}
                {{ form.user_name(class="form-control", placeholder="User Name")}} <!-- Placeholder here displays default text in text field-->

                <br>

                {{ form.password.label() }}
                {{ form.password(class="form-control", placeholder="Password")}}

                <br>

                {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
                <!-- class="btn btn-lg btn-block btn-primary" is standard Bootstrap syntax -->
                <!-- Other options are: https://getbootstrap.com/docs/4.0/components/buttons/ -->
                <br>

                <div class="checkbox mb-3">
                    <h6>Do not have an account?</h6>
                    <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page')}}">Register</a>

                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}
