{% extends 'base.html' %}
{% block title %}
Market Page
{% endblock %}

{% block content %}

<div class="row" style="margin-top: 20px; margin-left:20px; ">
    <div class="col-8">
        <h2>Available Items</h2>
        <p>Select Item to buy</p>
        <br>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <!-- Columns here -->
                    <th scope="col">ID</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Description</th>
                    <th scope="col">Option</th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows inside table here -->
                {% for item in items %}
                {% include 'includes/items_modal.html' %}

                    <tr>
                        <td>{{ item.idx }}</td>
                        <td>{{ item.name }}</td>
                        <td>${{ item.price }}</td>
                        <td>{{ item.barcode }}</td>
                        <td>{{ item.description }}</td>
                        <td>
                            <button class="btn btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirmation-{{ item.idx }}">Purchase this item</button>
                            <button class="btn btn-outline-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.idx }}">More Info</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h2>Owned Items</h2>
        <p>Select Item to sell</p>
        <br>
        <div class="row">
            {% for owned_item in owned_items %}
            {% include 'includes/owned_item_modal.html' %}
            <div class="col-md-6">
                    <div style="margin-bottom: 5px" class="card text-center bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">{{ owned_item.name }}</h5>
                            <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                                    data-toggle="modal" data-target="#Modal-SellConfirmation-{{ owned_item.idx }}">
                                Sell Item
                            </button>
                            <p class="card-text"><strong>
                                ${{ owned_item.price }}
                            </strong></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
